In [18]:
import pandas as pd
people = {
    "firstName": ["Corey", "Jane", "John", "Susan"],
    "lastName": ["Schafer", "Smith", "Doe", "Doe"],
    "email": [
        "corey_schafer@mail.com",
        "jane_smith@mail.com",
        "john_doe@mail.com",
        "susan_doe@mail.com"
    ]
}
df = pd.DataFrame(people)
df

  firstName lastName                   email
0     Corey  Schafer  corey_schafer@mail.com
1      Jane    Smith     jane_smith@mail.com
2      John      Doe       john_doe@mail.com
3     Susan      Doe      susan_doe@mail.com

In [6]:
# Create a filter that filter rows where lastName == "Doe"
filter_lastName = df["lastName"] == "Doe"
filter_lastName

0    False
1    False
2     True
3     True
Name: lastName, dtype: bool

In [7]:
# Uses the pre created filter to see the row in the DataFrame
df[filter_lastName]

  firstName lastName               email
2      John      Doe   john_doe@mail.com
3     Susan      Doe  susan_doe@mail.com

In [9]:
# Filter the rows and creates the filter at the same time
df[df["lastName"] == "Doe"]

  firstName lastName               email
2      John      Doe   john_doe@mail.com
3     Susan      Doe  susan_doe@mail.com

In [22]:
df.loc[filter_lastName]

  firstName lastName               email
2      John      Doe   john_doe@mail.com
3     Susan      Doe  susan_doe@mail.com

In [24]:
df.loc[filter_lastName, "email"]

2     john_doe@mail.com
3    susan_doe@mail.com
Name: email, dtype: object

In [34]:
# Filters where lastName is Doe and firstName is John
filter_and = (df["lastName"] == "Doe") & (df["firstName"] == "John")
df[filter_and]

  firstName lastName                   email
0     Corey  Schafer  corey_schafer@mail.com
1      Jane    Smith     jane_smith@mail.com
3     Susan      Doe      susan_doe@mail.com

In [ ]:
# The NOT notation to the filter
df[~filter_and]

In [31]:
# Filters where lastName is Doe or Smith
filter_or = (df["lastName"] == "Doe") | (df["lastName"] == "Smith")
df[filter_or]

  firstName lastName                email
1      Jane    Smith  jane_smith@mail.com
2      John      Doe    john_doe@mail.com
3     Susan      Doe   susan_doe@mail.com