In [1]:
import pandas as pd

In [2]:
people = {
    "firstName": ["Corey", "Jane", "John"],
    "lastName": ["Schafer", "Smith", "Doe"],
    "email": ["corey_schafer@mail.com", "jane_smith@mail.com", "john_doe@mail.com"]
}

In [20]:
df = pd.DataFrame(people)

In [6]:
df["email"]

0    corey_schafer@mail.com
1       jane_smith@mail.com
2         john_doe@mail.com
Name: email, dtype: object

In [21]:
# Set email as index only here. Do not change DataFrame
df.set_index("email")

                       firstName lastName
email
corey_schafer@mail.com     Corey  Schafer
jane_smith@mail.com         Jane    Smith
john_doe@mail.com           John      Doe

In [22]:
df

  firstName lastName                   email
0     Corey  Schafer  corey_schafer@mail.com
1      Jane    Smith     jane_smith@mail.com
2      John      Doe       john_doe@mail.com

In [23]:
# Set email as the index and change the DataFrame
df.set_index("email", inplace = True)

In [24]:
df

                       firstName lastName
email
corey_schafer@mail.com     Corey  Schafer
jane_smith@mail.com         Jane    Smith
john_doe@mail.com           John      Doe

In [25]:
df.index

Index(['corey_schafer@mail.com', 'jane_smith@mail.com', 'john_doe@mail.com'], dtype='object', name='email')

In [28]:
df.loc["john_doe@mail.com"]

firstName    John
lastName      Doe
Name: john_doe@mail.com, dtype: object

In [29]:
df.loc["john_doe@mail.com", "firstName"]

'John'