In [4]:
import pandas as pd

In [1]:
people = {
    "firstName": ["Corey", "Jane", "John"],
    "lastName": ["Schafer", "Smith", "Doe"],
    "email": ["corey_schafer@mail.com", "jane_smith@mail.com", "john_doe@mail.com"]
}

In [3]:
people["email"]

['corey_schafer@mail.com', 'jane_smith@mail.com', 'john_doe@mail.com']

In [5]:
# Data Frame
df = pd.DataFrame(people)

In [6]:
df

  firstName lastName                   email
0     Corey  Schafer  corey_schafer@mail.com
1      Jane    Smith     jane_smith@mail.com
2      John      Doe       john_doe@mail.com

In [7]:
df["email"]

0    corey_schafer@mail.com
1       jane_smith@mail.com
2         john_doe@mail.com
Name: email, dtype: object

In [12]:
df.email

0    corey_schafer@mail.com
1       jane_smith@mail.com
2         john_doe@mail.com
Name: email, dtype: object

In [9]:
type(df["email"])

pandas.core.series.Series

In [14]:
df[["firstName", "lastName"]]

  firstName lastName
0     Corey  Schafer
1      Jane    Smith
2      John      Doe

In [15]:
df[["firstName", "email"]]

  firstName                   email
0     Corey  corey_schafer@mail.com
1      Jane     jane_smith@mail.com
2      John       john_doe@mail.com

In [16]:
df.columns

Index(['firstName', 'lastName', 'email'], dtype='object')

In [18]:
# ILOC - Serach by Integer Location
df.iloc[0]

firstName                     Corey
lastName                    Schafer
email        corey_schafer@mail.com
Name: 0, dtype: object

In [19]:
# Get the first row
df.iloc[1]

firstName                   Jane
lastName                   Smith
email        jane_smith@mail.com
Name: 1, dtype: object

In [20]:
# Get the first 2 rows
df.iloc[[0, 1]]

  firstName lastName                   email
0     Corey  Schafer  corey_schafer@mail.com
1      Jane    Smith     jane_smith@mail.com

In [21]:
# Get the Column[2] of the row[0] and row[1]
df.iloc[[0, 1], 2]

0    corey_schafer@mail.com
1       jane_smith@mail.com
Name: email, dtype: object

In [22]:
type(df.iloc[[0, 1], 2])

pandas.core.series.Series

In [24]:
# LOC - Search by Label
df.loc[[0, 1]]

  firstName lastName                   email
0     Corey  Schafer  corey_schafer@mail.com
1      Jane    Smith     jane_smith@mail.com

In [25]:
# Get Column["email"] of the rows 0 and 1
df.loc[[0, 1], "email"]

0    corey_schafer@mail.com
1       jane_smith@mail.com
Name: email, dtype: object

In [26]:
# Get Columns "email" and "lastName" from the rows 0 and 1
df.loc[[0, 1], ["email", "lastName"]]

                    email lastName
0  corey_schafer@mail.com  Schafer
1     jane_smith@mail.com    Smith