In [9]:
import pandas as pd
people = {
    "firstName": ["Corey", "Jane", "John", "Susan", "Abgail"],
    "lastName": ["Schafer", "Smith", "Doe", "Doe", "Doe"],
    "email": [
        "corey_schafer@mail.com",
        "jane_smith@mail.com",
        "john_doe@mail.com",
        "susan_doe@mail.com",
        "abgail_doe@mail.com"
    ]
}
df = pd.DataFrame(people)

In [10]:
df

  firstName lastName                   email
0     Corey  Schafer  corey_schafer@mail.com
1      Jane    Smith     jane_smith@mail.com
2      John      Doe       john_doe@mail.com
3     Susan      Doe      susan_doe@mail.com
4    Abgail      Doe     abgail_doe@mail.com

In [11]:
# Sort by firstName default order
df.sort_values(by = "firstName")

  firstName lastName                   email
4    Abgail      Doe     abgail_doe@mail.com
0     Corey  Schafer  corey_schafer@mail.com
1      Jane    Smith     jane_smith@mail.com
2      John      Doe       john_doe@mail.com
3     Susan      Doe      susan_doe@mail.com

In [12]:
# Sort by lastName descending order
df.sort_values(by = "lastName", ascending = False)

  firstName lastName                   email
1      Jane    Smith     jane_smith@mail.com
0     Corey  Schafer  corey_schafer@mail.com
2      John      Doe       john_doe@mail.com
3     Susan      Doe      susan_doe@mail.com
4    Abgail      Doe     abgail_doe@mail.com

In [13]:
# Sort by last name default order
df.sort_values(by = "lastName")

  firstName lastName                   email
2      John      Doe       john_doe@mail.com
3     Susan      Doe      susan_doe@mail.com
4    Abgail      Doe     abgail_doe@mail.com
0     Corey  Schafer  corey_schafer@mail.com
1      Jane    Smith     jane_smith@mail.com

In [14]:
# Sort by lastName 
# by firstName if the same lastName
df.sort_values(by = ["lastName", "firstName"])

  firstName lastName                   email
4    Abgail      Doe     abgail_doe@mail.com
2      John      Doe       john_doe@mail.com
3     Susan      Doe      susan_doe@mail.com
0     Corey  Schafer  corey_schafer@mail.com
1      Jane    Smith     jane_smith@mail.com

In [16]:
# You can have diferente sort order to each sort key
df.sort_values(by = ["lastName", "firstName"], ascending = [True, False])

  firstName lastName                   email
3     Susan      Doe      susan_doe@mail.com
2      John      Doe       john_doe@mail.com
4    Abgail      Doe     abgail_doe@mail.com
0     Corey  Schafer  corey_schafer@mail.com
1      Jane    Smith     jane_smith@mail.com

In [17]:
# You can sort a single column
df["lastName"].sort_values()

2        Doe
3        Doe
4        Doe
0    Schafer
1      Smith
Name: lastName, dtype: object