In [1]:
import pandas as pd
people = {
    "firstName": ["Corey", "Jane", "John", "Susan"],
    "lastName": ["Schafer", "Smith", "Doe", "Doe"],
    "email": [
        "corey_schafer@mail.com",
        "jane_smith@mail.com",
        "john_doe@mail.com",
        "susan_doe@mail.com"
    ]
}
df = pd.DataFrame(people)
df

  firstName lastName                   email
0     Corey  Schafer  corey_schafer@mail.com
1      Jane    Smith     jane_smith@mail.com
2      John      Doe       john_doe@mail.com
3     Susan      Doe      susan_doe@mail.com

In [2]:
df.columns

Index(['firstName', 'lastName', 'email'], dtype='object')

In [4]:
# Set all column names with a list
df.columns = ["first_name", "last_name", "email"]

In [5]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [13]:
df.columns = [x.upper() for x in df.columns]

In [16]:
df.columns = [x.lower() for x in df.columns]

In [9]:
# Reset all column names with a list
df.columns = ["First Name", "Last Name", "Email"]

In [11]:
# Replace spaces for underscores in column names
df.columns = df.columns.str.replace(" ", "_")

In [19]:
# Rename the column names with a Dictionary, the key is the old_value the value is the new_value
df.rename(columns = {
    "first_name": "firstName",
    "last_name": "lastName"
}, inplace = True)

In [37]:
# Change lastName and email for row with firstName == "John"
df.loc[df["firstName"] == "John", ["lastName", "email"]] = ["Smith", "john_smith@mail.com"]

In [57]:
# Change values back
df.loc[df["firstName"] == "John", ["lastName", "email"]] = ["Doe", "john_doe@mail.com"]

In [40]:
# Change the lastName to "Smith" for a row that has firstName == "John"
df.loc[df["firstName"] == "John", "lastName"] = "Smith"

In [43]:
# For a single Row you can use At
# AT for single row and LOC for a group
df.at[df["firstName"] == "John", "lastName"] = "Axe"

In [54]:
# Set lastName as "Dylan" to row with firstName == "John"
df.at[df["email"] == "john_doe@mail.com", ["lastName"]] = "Dylan"

In [62]:
# Change all email rows to its value as uppercase
df["email"] = df["email"].str.upper()

In [73]:
df["email"] = df["email"].str.lower()

In [67]:
df["email"].apply(len)

0    22
1    19
2    17
3    18
Name: email, dtype: int64

In [71]:
# Define a function the return the uppercase version of the email passed
def update_email(email):
    return email.upper()

# Applies the function to the email column for all the rows
df["email"] = df["email"].apply(update_email)

In [77]:
df["email"].apply(lambda x : x.upper())

0    COREY_SCHAFER@MAIL.COM
1       JANE_SMITH@MAIL.COM
2         JOHN_DOE@MAIL.COM
3        SUSAN_DOE@MAIL.COM
Name: email, dtype: object

In [78]:
# Apply when direct in the DataFrame with target its Series
df.apply(pd.Series.min)

firstName                     Corey
lastName                        Doe
email        corey_schafer@mail.com
dtype: object

In [79]:
# Call the min method for each Series from DataFrame
df.apply(lambda x : x.min())

firstName                     Corey
lastName                        Doe
email        corey_schafer@mail.com
dtype: object

In [80]:
# ApplyMap will target the each individual values of the DataFrame
df.applymap(len)

   firstName  lastName  email
0          5         7     22
1          4         5     19
2          4         3     17
3          5         3     18

In [83]:
df.applymap(str.upper)

  firstName lastName                   email
0     COREY  SCHAFER  COREY_SCHAFER@MAIL.COM
1      JANE    SMITH     JANE_SMITH@MAIL.COM
2      JOHN      DOE       JOHN_DOE@MAIL.COM
3     SUSAN      DOE      SUSAN_DOE@MAIL.COM

In [85]:
df["firstName"].map({ "Corey": "Chris", "Jane": "Mary" })

0    Chris
1     Mary
2      NaN
3      NaN
Name: firstName, dtype: object

In [87]:
df["firstName"].replace({ "Corey": "Chris", "Jane": "Mary" })

0    Chris
1     Mary
2     John
3    Susan
Name: firstName, dtype: object

In [86]:
df

  firstName lastName                   email
0     Corey  Schafer  corey_schafer@mail.com
1      Jane    Smith     jane_smith@mail.com
2      John      Doe       john_doe@mail.com
3     Susan      Doe      susan_doe@mail.com